@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100&display=swap");

html {
  overflow: hidden;
}

body {
  scroll-behavior: smooth;
  height: 100vh;
  margin: 0;
  font-family: "Poppins";
  perspective: 1px;
  transform-style: preserve-3d;
  overflow-x: hidden;
  overflow-y: auto;
  background-color: black;
}
.navbar {
  display: flex;
  height: 15vh;
}

.container {
  animation: fadeIn 1s;

  overflow: hidden;
  align-items: center;
}

.logo {
  position: relative;
  height: 14vh;
  top: 2px;
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes shine {
  0% {
    background-position: -50vw;
    background-size: 20vw;
  }
  100% {
    background-position: 0vw;
    background-size: 200vw;
  }
}

@keyframes slideTop {
  from {
    top: 15vh;
  }
  to {
    top: 0vh;
  }
}

.container {
  width: 100%;
  display: flex;
  justify-content: space-between;
  background: black;
  border-bottom: 2px solid gray;
  position: relative;
  z-index: 2;
}

@media screen and (max-width: 768px) {
  .nav li {
    display: none;
  }

  .s2 {
    display: grid;
  }

  .img1,
  .img2 {
    order: 2;
    height: 50vh;
  }
  .description {
    order: 1;
  }
}

.nav {
  margin: 0px;
  display: flex;
  overflow: hidden;
  list-style-type: none;
}
.nav li {
  position: relative;
  right: -2px;
  margin: 0px;
  padding: 14vh 0;
  color: rgba(65, 49, 9, 0.808);
  border-left: 1px solid;
  overflow: hidden;
}

.nav li a {
  position: relative;
  text-decoration: none;
  font-weight: bold;
  color: goldenrod;
  padding: 14vh 42px;
}

.nav li a::before {
  content: "";
  position: absolute;
  height: 30vh;
  width: 20px;
  top: 4vh;
  box-shadow: 10px 0 50px rgba(112, 106, 53, 0.87);
  background: rgba(112, 106, 53, 0.295);
  transition: 0.3s;
  transform: rotate(-10deg) translateX(-120px);
}
.nav li a:hover::before {
  transition: 0.7s;
  transform: rotate(-10deg) translateX(170px);
}

.nav li a:hover {
  background-color: rgba(255, 217, 0, 0.13);
  color: gold;

  transition: 0.7s ease;
}

.hero {
  width: 100vw;
  height: 85vh;
  display: block;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  box-sizing: border-box;
  transform-style: preserve-3d;
}
.hero::before {
  animation: fadeIn 2s;
  animation-fill-mode: both;
  animation-delay: 0.7s;

  content: "";
  width: 100vw;
  height: 100vh;
  top: -10vh;
  left: 0;
  background-image: linear-gradient(rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.8)),
    url(../images/main_bckg.jpg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  position: absolute;

  z-index: -1;
  transform: translateZ(-1px) scale(2);
}

.hero_txt {
  display: block;
  font-weight: bold;
  font-size: 60px;
  color: rgb(255, 255, 255);
  text-align: center;
  padding: 30vh 0;
  overflow: hidden;
  position: relative;
  background: linear-gradient(
    90deg,
    #fff,
    #fff,
    rgba(182, 155, 34, 0.521),
    rgb(0, 0, 0, 0)
  );
  background-repeat: no-repeat;
  background-size: 200vw;
  background-position: 0vw;
  background-clip: unset;
  -webkit-background-clip: text;
  color: transparent;
  animation: shine 1.5s linear;
}

.subtext {
  font-weight: bold;
  font-size: 30px;
}

.scroll_btn {
  position: relative;
  display: block;
  color: white;
  text-align: center;
  line-height: 15vh;
  height: 15vh;
  opacity: 0.5;
  animation: slideTop 1s;
  animation-fill-mode: both;
  animation-delay: 2s;
}

@media screen and (min-width: 769px) {
  .s2 {
    display: flex;
    box-sizing: border-box;
    height: 50vh;
  }
  .img1,
  .img2 {
    width: 50%;
    height: auto;
  }
  .description {
    width: 50%;
  }
}

.s2 {
  padding: 0;
  width: 100%;
  color: white;
  text-align: center;
  border-top: 2px solid gray;
  position: relative;
  z-index: 2;
}
#About {
  background: rgb(31, 31, 31);
}

#Services {
  background: rgb(20, 20, 20);
}

.img1 {
  margin: 0;

  background-image: url(../images/cupra2.jpg);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

.description {
  display: grid;
  align-content: center;
  align-items: center;
  height: auto;
  box-sizing: border-box;
  padding: 1%;
  justify-items: center;
}

.img2 {
  margin: 0;
  background-image: url(../images/towel2.jpg);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

.list {
  margin: 0;
  padding: 0 10%;
  font-size: 16px;
  font-weight: 400;
}
.list li {
  text-align: left;
}

.btn-container {
  width: 50%;
  padding: 5%;
}
.button {
  display: block;
  position: relative;
  overflow: hidden;
  text-decoration: none;
  font-weight: bold;
  color: goldenrod;
  background-color: rgb(0, 0, 0);
  border: 1px solid;
  border-color: goldenrod;
  padding: 2%;
}

.button::before {
  content: "";
  position: absolute;
  height: 120px;
  width: 20px;
  top: -10px;
  box-shadow: 10px 0 50px rgba(112, 106, 53, 0.87);
  background: rgba(112, 106, 53, 0.295);
  transition: 0.3s;
  transform: rotate(-10deg) translateX(-150px);
}
.button:hover::before {
  transition: 0.4s;
  transform: rotate(-10deg) translateX(270px);
}

.button:hover {
  background-color: rgba(255, 217, 0, 0.13);
  color: gold;
  transition: 0.5s ease;
}
.location-tab {
  border-top: 2px solid gray;
  margin: 0;
  padding: 0;
  background: rgb(31, 31, 31);

  color: white;
  position: relative;
  z-index: 2;
}
.location-tab h1 {
  padding: 20px;
  margin: auto;
  text-align: center;
  font-weight: 500;
}

.list2 {
  padding: 0;

  text-align: center;
}
